.wrapper {
   padding: 39px 36px;

   display: flex;
   flex-direction: column;

   .button {
      font-size: 1.6rem;
      margin: 0px 64px;
   }

   & .logo {
      width: 139px;
      height: 39px;
   }

   & input {
      font-size: 1.6rem;
      line-height: 2.2rem;

      border: 1px solid var(--border-color);
      border-radius: 9px;

      padding: 13px 16px;

      &:focus {
         outline: auto;
         outline: 1px solid var(--outline-input-color);
         box-shadow: 0 0 3.69px 0.13px var(--outline-input-color);
      }
   }
}

.header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .title {
      font-size: 2.3rem;
      margin-top: 13px;
      font-weight: 500;
   }
}

.frmLogin {
   display: flex;
   flex-direction: column;

   margin-top: 26px;

   .forget {
      color: var(--link-color);

      margin-top: 13px;
      margin-left: 3px;

      font-size: 1.5rem;
   }
}

.control {
   margin-top: 43px;
   display: flex;
   justify-content: space-between;

   & .btn-submit {
      font-size: 1.5rem;
      font-weight: 500;

      background-color: var(--btn-submit);
      color: var(--white);

      &:hover {
         background-color: var(--btn-submit-hover);
      }
   }

   & .btn-register {
      font-size: 1.5rem;
      font-weight: 500;

      color: var(--link-color);
      padding: 0px 6px;

      &:hover {
         color: var(--link-color-hover);
         background-color: rgb(248, 251, 251);
         box-shadow: 0 0 1px 0.1px var(--box-shadow-color);
      }
   }
}

.list-login {
   margin-top: -3px;

   & > div {
      display: block;
      width: 100%;

      margin-top: 13px;
   }
}

.item-with {
   border-radius: 9px;

   width: 100%;

   &.with-google {
      border: 1px solid var(--border-color);
   }
   &.with-facebook {
      color: var(--white);
      background-color: #00acff;
   }

   & .icon {
      font-size: 2.2rem;
   }
}

.separator-with_text {
   position: relative;
   text-align: center;
   font-size: 1.6rem;
   margin: 20px 0;
   margin-top: 39px;

   color: rgba(0, 0, 0, 0.63);

   &::before,
   &::after {
      content: '';
      position: absolute;
      top: 50%;
      border-bottom: 2px solid var(--border-color);
      width: 40%;
   }

   &::before {
      left: 0;
   }

   &::after {
      right: 0;
   }
}
