.wrapper {
}

.list {
   -webkit-user-drag: none;

   width: 100%;
   list-style-type: disc;
   list-style: none;
   -webkit-margin-before: 0;
   -webkit-margin-after: 0;
   -webkit-margin-start: 0;
   -webkit-margin-end: 0;
   -webkit-padding-start: 0;
   padding: 0;
}

.item {
   display: inline-block !important;
   margin-right: 0.5%;
   margin-left: 0.5%;
   width: 15.666666666667%;
   float: left;
   text-align: -webkit-match-parent;
   margin-bottom: 24px;

   @media (min-width: 2275px) {
      width: 11.5%;
   }

   @media (min-width: 1624px) and (max-width: 2275px) {
      width: 13.285714285714286%;
   }

   @media (max-width: 1414px) {
      width: 19%;
   }

   @media (min-width: 1147px) and (max-width: 1414px) {
      width: 15.666666666667%;
   }

   @media (max-width: 1147px) {
      width: 24%;
   }

   @media (max-width: 924px) {
      width: 32.33333333333333%;
   }

   @media (max-width: 624px) {
      width: 49%;
   }

   @media (max-width: 424px) {
      width: 100%;
      margin: 0 0 24px 0;
   }
}
