@import 'normalize.css';

:root {
   --primary: rgb(17, 234, 74);
   --black: #000;
   --text-color: #161823;
   --text-bland: rgba(23, 26, 39, 0.63);
   --white: #fff;
   --border-color: rgba(22, 24, 35, 0.13);
   --box-shadow-color: rgba(23, 26, 39, 0.26);
   --hover-item-color: rgba(23, 26, 39, 0.06);
   --took-tip-color: rgba(23, 26, 39, 0.59);

   --default-layout-header-height: 60px;
   --default-layout-width: 1150px;
   // --font-family: 'ProximaNova', sans-serif;

   --width-default-sidebar: 74px;
   --width-navbar-default: 240px;
   --search-btn-width: 54px;
   --search-height: 40px;
   --height-default-header: 54px;
   --space-content: 16px;
   --search-top-spacer: 5px;
   //size item
   --height-small-item: 62px;
   --height-medium-item: 84px;
   --height-large-item: 104px;
   --height-extraLarge-item: 348px;

   //page home
   --ytd-rich-grid-items-per-row: 6;
   --ytd-rich-grid-item-margin: 16px;
   --ytd-rich-grid-item-max-width: 360px;

   @media (min-width: 0px) and (max-width: 640px) {
      --ytd-rich-grid-items-per-row: 3;
   }
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'ProximaNova', sans-serif;
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizeSpeed;
   color: var(--text-color);
   margin: 0;
   overflow-y: auto;
   background-color: rgba(17, 234, 74, 0.04);
}

body.scroll_lock {
   overflow-y: scroll !important;
   position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
}

html *::-webkit-scrollbar {
   border-radius: 0;
   width: 16px;
}

html *::-webkit-scrollbar-thumb {
   height: 56px;
   border-radius: 8px;
   border: 4px solid transparent;
   background-clip: content-box;
   background-color: rgba(0, 0, 0, 0.5);
}

html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}

// // Fonts emmbeded
// @font-face {
//    font-family: ProximaNova;
//    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
//    font-weight: 400;
// }

// @font-face {
//    font-family: ProximaNova;
//    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
//    font-weight: 600;
// }

// @font-face {
//    font-family: ProximaNova;
//    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
//    font-weight: 700;
// }

// @font-face {
//    font-family: SofiaPro;
//    src: url('/assets/fonts/sofiapro-bold.woff');
//    font-weight: 700;
// }

button,
input,
[tapindex] {
   font-family: var(--font-family);
   outline: none;
   border: none;
}

a {
   color: var(--text-color);
   text-decoration: none;
   font-family: var(--font-family);
}

.spinner-container {
   position: absolute;
   top: 50%;
   left: 50%;
}

.tooltip {
   position: relative;

   &::after {
      content: attr(name-tooltip);
      position: absolute;
      top: calc(100% + 9px);

      left: 50%;

      transform: translateX(-50%);

      width: max-content;
      max-width: 300px;

      display: none;
      justify-content: center;
      align-items: center;

      padding: 6px 9px;
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--white);
      border-radius: 6px;
      background-color: var(--took-tip-color);
   }

   &:hover::after {
      display: flex;
   }
}
