:root {
   --max-width-left: 69%;
}

.wrapper {
   height: 100%;
   overflow: auto;
}

.inner {
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;

   max-width: 2276px;
   margin: auto;
   padding: 0 12px 0 16px;
   height: 100%;
}

.top {
   position: relative;
   background-color: var(--white);
   border-radius: 19px;
   margin-top: 16px;
   border-bottom-left-radius: 0 !important;
   padding-top: 0 !important;

   .wrapper_video {
      width: var(--max-width-left);
      max-width: var(--max-width-left);
      border-radius: 6px;
      overflow: hidden;
   }

   .top__background {
      border: 3px solid var(--white);
      box-shadow: 0 0 9px 1px var(--box-shadow-color);
      border-radius: 13px;
      width: 100%;
      position: relative;
      overflow: hidden;

      &::before {
         content: '';
         display: block;
         padding-top: 43%;
         background-color: aliceblue;
      }

      & > img {
         object-fit: cover;

         width: 100%;
         height: 100%;
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
      }
   }

   .background_modal {
      position: absolute;
      height: 174px;
      width: 100%;
      bottom: 0;
      background: linear-gradient(
         rgba(255, 255, 255, 0.001),
         rgba(0, 0, 0, 0.05),
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.7)
      );
      transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
   }

   & .top__introduce {
      white-space: nowrap;
      padding: 0 36px;
      margin-top: -69px;
      padding-bottom: 19px;
   }
}

.top__introduce {
   .top__thumbnail {
      display: inline-block;
      position: relative;
      overflow: hidden;
      vertical-align: top;

      &::before {
         content: '';
         display: block;
         padding-top: 135.3333% !important;
         background-color: aliceblue;
      }

      width: 236px;
      border-radius: 9px;
      box-shadow: -9px 9px 13px 9px var(--box-shadow-color);
      border: 3px solid var(--white);
   }
}

.top__thumbnail {
   & > img {
      object-fit: cover;

      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
   }
}

.page-body {
   display: flex;
   white-space: nowrap;
   .body-left {
      display: inline-block;
      max-width: var(--max-width-left);
      width: var(--max-width-left);
   }
   .body-right {
      position: absolute;
      top: 0;
      right: 0;

      display: inline-block;
      margin-left: 13px;
      padding-right: 9px;
      max-width: calc(100% - var(--max-width-left) - 13px);
      width: calc(100% - var(--max-width-left) - 13px);
      vertical-align: top;
      width: 100%;
      height: 100%;
   }
}

.top__details {
   margin-top: 66px;
   display: inline-block;
   width: calc(100% - 236px);

   padding: 16px;
   padding-bottom: 0;
   position: relative;

   .top__name {
      font-size: 2.3rem;
      font-weight: 600;
   }

   .top__another-name {
      font-style: italic;
      margin-top: 9px;
      color: var(--text-bland);
      font-size: 1.9rem;
   }

   .categories {
      border-top: 1px solid var(--border-color);
      padding-top: 6px;

      margin-top: 19px;

      & .categories-title {
         display: inline-block;
         vertical-align: top;

         line-height: initial;
         white-space: nowrap;
         margin-top: 3px;
      }

      & .categories-list {
         display: inline-block;
         white-space: normal;
      }

      & .categories-list > a {
         display: inline-block;
         white-space: nowrap;
         margin-bottom: 6px;
         color: var(--text-bland);

         margin-left: 9px;
         padding: 1px 6px;

         border-radius: 6px;

         background-color: var(--grey-btn);
         &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
               var(--grey-btn-hover);
         }
      }
   }
}

.top__details-inf {
   display: flex;

   .others-controls {
      display: flex;
      align-items: flex-end;
   }
}

.others-controls {
   .btn_follow {
      margin-right: 13px;
   }
}

.top__details-inf__content {
   flex-grow: 1;

   & > div {
      margin-top: 3px;
   }
}

.container {
   position: relative;
   // margin-top: 13px;

   &.wrapper_detail {
      border-top-right-radius: 0;
      border-top-left-radius: 0;

      margin-top: 0px;

      &::before {
         content: '';
         position: absolute;
         top: -1px;
         right: -15px;
         clip-path: polygon(
            0 100%,
            0 0,
            100% 0,
            76% 6%,
            59% 13%,
            47% 19%,
            38% 25%,
            28% 34%,
            21% 43%,
            15% 53%,
            11% 63%,
            6% 78%
         );
         width: 16px;
         height: 16px;
         background: var(--white);
      }

      .detail {
         background-color: var(--aria-color);
         border-radius: 19px;
         padding: 16px;
      }
   }

   .inf__header {
      margin-bottom: 9px;
      font-weight: 700;
   }

   .trailer {
      margin-top: 16px;
   }
}

.list-episodes {
   display: inline-block;
   white-space: normal;
   margin-bottom: -6px;
   margin-right: -7px;

   .item-episodes {
      font-size: 1.4rem;
      font-weight: 550;
      line-height: 2rem;
      display: inline-block;
      white-space: nowrap;

      padding: 2px 13px;
      background-color: var(--grey-btn);

      border-radius: 6px;

      margin-bottom: 6px;

      &:hover {
         background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
            var(--grey-btn-hover);
      }

      margin-right: 6px;
   }
}

.productTest {
   margin-bottom: 16px;
}

.wrapper-count {
   display: flex;
   align-items: flex-start;
   line-height: 1.6rem;

   & *:not(span) {
      margin-left: 6px;
   }
}
