.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.container {
   margin-top: var(--height-default-header);
   width: 100%;
   display: flex;
}

.content {
   padding: 0 12px 0 16px;
   flex: 1;
   margin-left: var(--width-default-sidebar);
   overflow-x: hidden;

   @media (max-width: 424px) {
      padding: 0;
   }
}

@media (min-width: 186px) and (max-width: 754px) {
   .content {
      margin-left: 0;
   }
}
