:root {
   --height-bottom-control: 54px;
   --white-color: #fff;
   --margin-bottom-comtrol: 18px;
   --size-ball-progress: 14px;
}

video::-webkit-media-controls {
   display: none !important;
}

.wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 2276px;
   margin: auto;
}

.watch {
   position: relative;
   display: inherit;
   width: 1088px;
   height: 612px;
   background-color: rgba(0, 0, 0, 0.9);

   video {
      width: 100%;
   }

   .effect {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 40%;
      width: 120px;
      height: 120px;
      background-color: rgba(0, 0, 0, 0.7);
      color: var(--white-color);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 7rem;
      opacity: 0;
      z-index: -1;
   }

   .effect-play {
      animation: effect_play 0.8s cubic-bezier(0, 0, 0.2, 1);
   }

   @keyframes effect_pause {
      from {
         width: 70px;
         height: 70px;
         opacity: 1;
         z-index: 0;
         font-size: 3.5rem;
      }

      to {
         width: 120px;
         height: 120px;
         font-size: 7.4rem;
         opacity: 0.01;
         z-index: 0;
      }
   }

   .effect-pause {
      animation: effect_pause 0.8s cubic-bezier(0, 0, 0.2, 1);
   }

   @keyframes effect_play {
      from {
         width: 70px;
         height: 70px;
         opacity: 1;
         z-index: 0;
         font-size: 3.5rem;
      }

      to {
         width: 120px;
         height: 120px;
         font-size: 7.4rem;
         opacity: 0.01;
         z-index: 0;
      }
   }
}

.modal-control {
   position: absolute;
   height: 174px;
   width: 100%;
   bottom: 0;
   background: linear-gradient(rgba(255, 255, 255, 0.001),
         rgba(0, 0, 0, 0.05),
         rgba(0, 0, 0, 0.4),
         rgba(0, 0, 0, 0.7));
   transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.modal-previews {
   position: absolute;
   background-color: transparent;
   width: 100%;
   height: 100%;
   visibility: hidden;
   // background-image: url('');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.57);
   }
}

@keyframes previewMoal {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.watch-controls {
   z-index: 1;
   position: absolute;
   height: 74px;
   user-select: none;
   -webkit-user-drag: none;
   bottom: 0px;
   width: 100%;
   padding: 4px 1%;
   transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);

   .progress {
      display: block;
      position: absolute;
      height: 24px;
      width: 98%;
      bottom: var(--height-bottom-control);
      cursor: pointer;
      user-select: none;
      -webkit-user-drag: none;

      .wrapper__progress-img {
         transform: translateX(0);
         display: none;

         .progress-img {
            position: absolute;
            width: 144px;
            height: 81px;
            border-radius: 2px;
            border: 2px solid rgba(255, 255, 255, 0.7);
            background-color: rgba(0, 0, 0, 0.4);
            // background-image: url('');
            bottom: calc(40px + 2px);
         }

         .progress-time_img {
            position: absolute;
            bottom: calc(1px);
            border-radius: 10px;
            left: 50%;
            transform: translateY(100%) translateX(-50%);
            min-width: 60px;
            height: 20px;
            clip-path: polygon(30% 11%, 70% 11%, 97% 11%, 90% 100%, 10% 100%, 3% 11%);
            background-color: rgba(255, 255, 255, 0.7);
            padding: 0 14px;
         }
      }

      &>div {
         width: 100%;
         position: absolute;
         bottom: 0;
      }

      .progress-main {
         border-radius: 2px;
         overflow: hidden;
         height: 6px;
         background-color: rgba(255, 255, 255, 0.3);
         border: none;
         transform: scaleY(0.5);
         transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1),
            -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
      }

      .progress-buffered {
         position: absolute;
         height: 100%;
         width: 100%;
         transform-origin: 0 0;
         transform: scaleX(0);
         background-color: rgba(255, 255, 255, 0.6);
         z-index: 1;
         user-select: none;
         -webkit-user-drag: none;
         transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1),
            -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
      }

      .progress-current {
         position: absolute;
         height: 100%;
         width: 100%;
         transform-origin: 0 0;
         transform: scaleX(0);
         background-color: rgb(6, 249, 217);
         transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1),
            -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
         z-index: 2;
         user-select: none;
         -webkit-user-drag: none;
      }

      .progress-ball__wrapper {
         transform: translateX(calc(var(--size-ball-progress) / -2));
         bottom: calc(-1 * var(--size-ball-progress) / 3 + 1px);
         transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1),
            -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
         z-index: 3;
         visibility: hidden;
         user-select: none;
         -webkit-user-drag: none;
      }

      .progress-ball {
         width: var(--size-ball-progress);
         height: var(--size-ball-progress);
         border-radius: 9999px;
         background-color: rgb(6, 249, 217);
         user-select: none;
         -webkit-user-drag: none;
      }
   }
}

.icon {
   position: absolute;
   bottom: 0;
   height: var(--height-bottom-control);
   width: 98%;
   margin-top: 40px;
   display: flex;
   color: var(--white-color);
   justify-content: space-between;

   .inner-icon {
      display: flex;
      align-items: center;
      padding: 0 10px;

      button {
         color: var(--white-color);
         top: 0;
         cursor: pointer;
         height: 100%;
         font-size: 3.7rem;
         display: flex;
         align-items: center;
         background-color: transparent;
         width: 54px;
         justify-content: center;
      }
   }

   .left {
      user-select: none;
      -webkit-user-drag: none;

      .timeStamp {
         font-size: 17px;
         font-weight: 600;
         line-height: 17px;
         margin-left: 16px;
      }

      .btn-volume {
         font-size: 2.8rem;
         position: relative;

         .none-volume {
            justify-content: center;
            display: flex;
            align-items: center;
         }

         .none-volume-clear {
            position: absolute;
            width: 3px;
            height: 30px;
            top: 50%;
            left: 27px;
            transform: rotate(-46deg) translateY(-58%);
            transform-origin: 100% 0;

            &>div {
               width: 100%;
               height: 0%;
               background-color: var(--white-color);
               transition: 0.2s linear;
            }
         }
      }

      .btn-player {
         font-size: 3.2rem;
      }
   }

   .right {
      user-select: none;
      -webkit-user-drag: none;

      .btn_setting {
         font-size: 26px;
      }

      .btn_full-screen {
         font-size: 28px;
      }
   }
}

.volume-progress {
   display: inline-block;
   // width: calc(54px + var(--size-ball-progress));
   width: 0;
   height: 100%;
   user-select: none;
   -webkit-user-drag: none;
   transition: 0.17s linear;
   overflow: hidden;
   cursor: pointer;
   padding: 0;

   &>div {
      position: relative;
      display: flex;
      align-items: center;
      width: 54px;
      height: 100%;
      margin-left: calc(var(--size-ball-progress) / 2);
   }

   &>div>div {
      position: absolute;
      width: 100%;
   }

   .volume-progress__main {
      height: 3px;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
   }

   .volume-progress__current {
      transition: none !important;
      height: 100%;
      transform: scaleX(1);
      transform-origin: left;
      background-color: rgb(255, 255, 255);
      user-select: none;
      -webkit-user-drag: none;
      transition: 0.1s linear;
   }

   .volume-progress__ball-wrapper {
      transition: none !important;
      transform: translateX(calc(100% + var(--size-ball-progress) / -2));
      z-index: 3;
      user-select: none;
      -webkit-user-drag: none;
      transition: 0.1s linear;
   }

   .volume-progress__ball {
      width: var(--size-ball-progress);
      height: var(--size-ball-progress);
      border-radius: 9999px;
      background-color: rgb(255, 255, 255);
      user-select: none;
      -webkit-user-drag: none;
      transition: 0.1s linear;
   }
}