.wrapper-account {
   position: absolute;

   margin-top: 6px;

   width: 300px;
   right: 0;

   .title {
      font-size: 1.6rem;
      font-weight: 500;
   }
}

.icon {
   text-align: center;
   height: 24px;
   width: 24px;
}
