.wrapper {
   height: 100%;
   overflow: auto;
}

.inner {
   width: 100%;
   display: flex;
   flex-direction: column;

   max-width: 2276px;
   margin: auto;
   padding: 0 12px 0 16px;
   height: 100%;
}

.wrapper-product {
   display: flex;
   flex-direction: column;
   -webkit-user-drag: none;
   user-select: none;
}

.header {
   padding: 13px 0 19px 6px;
}

.title {
   font-size: 1.8rem;
   font-weight: 700;
   margin: 0;
   opacity: 0.9;
}

.sperator {
   width: 100%;
   height: 2px;
   background-color: rgba(0, 0, 0, 0.1);
   margin: 6px 0 13px 0;
   float: left;
}

.loading-more {
   width: 100%;
   height: 100px;
   background-color: red;
   float: left;
}
