.wrapper {
   position: relative;

   display: flex;
   flex-direction: column;

   min-height: 100vh;

   background-color: var(--primary);

   &::after,
   &::before {
      box-flex: 1;
      flex-grow: 1;
      content: '';
      display: block;
      height: 24px;
   }
}

.inner {
   width: 463px;

   background-color: var(--white);
   position: relative;

   margin: 0 auto;

   flex-shrink: 0;

   border: 1px solid var(--border-color);
   border-radius: 9px;

   box-shadow: 3px 3px 6px 1px var(--box-shadow-color);
}
