.wrapper {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .button {
        font-size: 1.6rem;
        margin: 0px 64px;
    }
}

.input-wrapper {
    .input {
        font-size: 1.6rem;
    }
}

p {
    .button {
        font-size: 1.6rem;
    }

    span {
        font-size: 1.6rem;
        font-weight: 500;
    }
}